# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True

# Database Configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=your-db-password-here
DB_HOST=your-db-host-here
DB_PORT=5432
DB_SSLMODE=require

# CORS Settings
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174

# S3/MinIO Storage Configuration
# For Ethiotelecom Object Storage
ACCESS_KEY_ID=your_ethiotelecom_access_key
SECRET_ACCESS_KEY=your_ethiotelecom_secret_key
STORAGE_BUCKET_NAME=flipstar-media
REGION_NAME=et-global-3
S3_ENDPOINT_URL=http://flipstar.obsv3.et-global-3.ethiotelecom.et

# Telebirr Direct Debit (SOAP API)
# Production
# TELEBIRR_SOAP_URL=https://cps.huawei.com/cpsinterface/api_requestmgr
# TELEBIRR_THIRD_PARTY_ID=your_third_party_id
# TELEBIRR_THIRD_PARTY_PASSWORD=your_third_party_password
# TELEBIRR_SHORTCODE=9286
# TELEBIRR_RESULT_URL=http://uat.flipstar.et:6082/api/webhooks/telebirrDirectDebit/
# TELEBIRR_PAYEE_ACCOUNT_NAME=Flipstar
# TELEBIRR_CALLER_TYPE=2
# TELEBIRR_SP_OPERATOR_ID=your_sp_operator_id
# TELEBIRR_SP_OPERATOR_CREDENTIAL=your_sp_operator_credential

# Test Environment
TELEBIRR_SOAP_URL=http://10.180.79.13:30001/payment/services/APIRequestMgrService
TELEBIRR_THIRD_PARTY_ID=TestMer
TELEBIRR_THIRD_PARTY_PASSWORD=jIfxwUU1S7jJmh1dgP3+wK3fd4Qxlxxcc4cb4i0z4Tk=
TELEBIRR_SHORTCODE=232323
TELEBIRR_RESULT_URL=http://uat.flipstar.et:6082/api/webhooks/telebirrDirectDebit/
TELEBIRR_PAYEE_ACCOUNT_NAME=Flipstar
TELEBIRR_CALLER_TYPE=2
TELEBIRR_SP_OPERATOR_ID=TestSPOperAPI
TELEBIRR_SP_OPERATOR_CREDENTIAL=2JKSrKYlLAVvKWuIUXcexc3GHiT0+lEKzeVb6JRcZUM=

# Payment Backup Settings
PAYMENT_BACKUP_RETENTION_DAYS=15
